/*global variables*/
#root {
  height: 100%;
}
html {
  font-size: 10px;
  box-sizing: border-box;
}
body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}
ul, li {
  list-style: none;
}
i{
  cursor: pointer;
}


.grid-container{
  display: grid;
  grid-template-areas:
	"main-content"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 75px;
  height: 100%;
}
.main-content{
  grid-area: main-content;
}


/*navbar and footer*/
.Navbar{
  height: 100px;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.cart-num{
  font-size: 36px;
  font-weight: bold;
}
.logo-cart{
  display: flex;
  align-items: center;
}
.logo {
  margin: 0 15px;
  color: #e3e3e3;
  height: 75px;
  width: 75px;
}
.logo img{
  height: 100%;
  width: 100%;
}
.logo-cart a{
  text-decoration: none;
}
.Footer{
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*admin access pages*/
/*all orders page*/
.orders-layout{
  background: #e3e3e3;
  padding: 25px;
}
.orders-header{
  text-align: center;
  margin: 10px 0;
}
.orders-list{
  border: #333 solid 3px;
}

/*all products pages*/
.products-layout{
  background: #e3e3e3;
  padding: 25px;
}
.products-header{
  text-align: center;
  margin: 10px 0;
}
.products-list{
  border: #333 solid 3px;
}

/*auth forms*/
.inputForm h1{
  text-align: center;
  margin: 20px 0 0 0 !important;
}
.submitForm{
  border: #e3e3e3 solid 3px;
  width: 75%;
  margin: 40px auto;
  font-size: 20px;
}

.ui .message{
  margin: 0;
  padding: 10px 0;
  display: flex;
  text-align: center;
}
.ui .message .content{
  height: 100%;
  margin: auto !important;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.success-text p{
  color: rgb(0, 159, 218);
}
.error-text p{
  color: red;
}
.ui .field input{
  height: 50px;
  font-size: 25px;
}
.ui .button{
  font-size: 15px;
}
.imgPreview img{
  height: 150px;
  width: 100px;
}


/*not found page*/
.notFound{
  text-align: center;
  margin: 10px 0;
  font-size: 20px;
}


@media screen and (max-width: 600px) {
  .submitForm{
	width: 75%;
  }
}

